/* 
====== 
Variables 
======
*/
:root {
  --primaryColor: #476a2e;
  --mainWhite: #fff;
  --mainBackground: #f1f5f8;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainRed: #bd0303;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
}

/* 
====== 
Global Styles 
======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--mainBlack);
  background: var(--mainBackground);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: var(--slantedFont); */
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}

p {
  margin-bottom: 1.25rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none; 
}


/* 
====== 
Navbar
======
*/
.navbar {
  background: var(--mainWhite);
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--primaryColor);
  box-shadow: var(--lightShadow);
}

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: var(--mainTransition);
}

.nav-links a:hover {
  color: var(--primaryColor);
}

/* 
====== 
About
======
*/

.about-section {
  width: var(--smallWidth);
  max-width: var(--maxWidth);
  margin: 0 auto;
}

.about-section p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
}


/* 
====== 
Form
======
*/
.search {
  margin-top: 1rem;
  padding-bottom: 0;
}

.search-form {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--maxWidth);
  background: var(--mainWhite);
  padding: 2rem 2.5rem;
  text-transform: capitalize;
  border-radius: var(--mainBorderRadius);
  box-shadow: var(--lightShadow);
}

.form-control label {
  display: block;
  margin-bottom: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  color: var(--primaryColor);
}

.form-control input {
  width: 100%;
  border: none;
  border-color: transparent;
  background: var(--mainBackground);
  border-radius: var(--mainBorderRadius);
  padding: 0.5rem;
  font-size: 1.2rem;
}

/* 
====== 
Buttons 
======
*/
.btn {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: var(--mainBorderRadius);
  display: inline-block;

}

.btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}

/* 
====== 
Error
======
*/
.error-page {
  display: flex;
  text-align: center;
  justify-content: center;
}

.error-container {
  text-align: center;

  text-transform: capitalize;
}

/* 
====== 
Video List 
======
*/
.section {
  padding: 3rem 0;
}

.thumbnails-center {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
}

@media screen and (min-width: 576px) {
  .thumbnails-center {
    grid-template-columns: repeat(auto-fill, minmax(338px, 1fr));
  }
}

.videos {
  background: var(--mainWhite);
  margin-bottom: 2rem;
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: var(--mainBorderRadius);
  text-align: center;
}

.videos:hover {
  box-shadow: var(--darkShadow);
}

.videos img {
  object-fit: cover;
  border-top-left-radius: var(--mainBorderRadius);
  border-top-right-radius: var(--mainBorderRadius);
}

.videos-footer h3 {
  font-size: 2rem;
  margin-bottom: 0.3rem;
}


/* 
====== 
Single Video  
======
*/

.video-player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-player {
  width: 80%;
  height: 600px;
  border: none;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  font-size: 2rem;
}

.video-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.video-title {
  margin-bottom: 5px;
  font-size: 1.5rem;
}

.channel-title {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.published-date {
  font-size: 1rem;
  color: gray;
}